@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url(https://kit.fontawesome.com/a076d05399.js);
:root {
  background-image: linear-gradient(to bottom,navy, black );
  color: white;
  background-repeat: no-repeat;
  min-height:100%;
  --max-width: 1100px;
  background-size: auto;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
#header{
  display: flex;
  font-size: 15px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
  font-size: 25px;
  font-weight:bold;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
}
#header a{
  font-style: normal;
}
#right{
  font-family: 'Courier New', Courier, monospace;
  left: 50px;
  justify-content:space-between;
  display: inherit;
  flex-direction: inherit;
  font-size: 0.85rem;
  width: 70%;
  max-width: var(--max-width);
}
#right a{
  font-size: 15px;
}
#Footer{
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
}
#NF{
  text-align: center;
  font-size: 44px;
  font-family: inherit;
  min-height: 100vh;
}
#nfl{
  color: green;
}
h2{
  text-align: center;
}

p{
  text-align: center;
  color: white;
}
#scul{
  font-size: 20px;
  margin-left: 200px;
  color :white;
  cursor: pointer;
  background-color: transparent;
  border: white;
}
#scul span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#scul span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#scul:hover span {
  padding-right: 25px;
}

#scul:hover span:after {
  opacity: 1;
  right: 0;
}
#stories{
  text-align: left;
  max-width: 80%;
  padding-left: 9em;
  text-indent: 20px;
  font-size: 20px;
}
#st{
  line-height: 3rem;
}
#sculeft{
  font-size: 20px;
  margin-left: 100px;
  color :white;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}
#sculeft span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#sculeft span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#sculeft:hover span {
  padding-right: 25px;
}

#sculeft:hover span:after {
  opacity: 1;
  right: 0;
}
#leng{
  padding-left: 3rem;
}
#Footer a{
  color: lightblue;
}
#tet p{
  max-width: 80%;
  margin-left: 120px;
  word-spacing: 110%;
  text-align: left;
  line-height: 150%;
}